node_modules
dist
coverage
.vitest
*.tsbuildinfo

.env
.env.*
!.env.example

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tmp
temp

.git
.gitignore
docker-compose*.yml
docs
.idea
.vscode
.DS_Store
Thumbs.db
