NODE_ENV=production
APP_PORT=3001
APP_INSTANCE_ID=api-1

DATABASE_URL=postgresql://ecommerce:ecommerce_password@postgres-pgpool:5432/ecommerce
DATABASE_REPLICA_URL=postgresql://ecommerce:ecommerce_password@postgres-standby:5432/ecommerce
REDIS_URL=redis://redis:6379

JWT_SECRET=change-me-minimum-32-characters
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_EXPIRES_IN=7d

COOKIE_SECRET=change-me-minimum-32-characters
COOKIE_SECURE=true
COOKIE_SAME_SITE=Strict

TOTP_ENCRYPTION_KEY=change-me

MIDTRANS_SERVER_KEY=change-me
MIDTRANS_CLIENT_KEY=change-me
MIDTRANS_WEBHOOK_SECRET=change-me
MIDTRANS_IS_PRODUCTION=false

RATE_LIMIT_LOGIN_MAX=5
RATE_LIMIT_LOGIN_WINDOW_MS=60000

LOG_LEVEL=info
LOKI_URL=http://loki:3100
PROMETHEUS_PORT=9091
