global
  log stdout format raw local0

defaults
  mode http
  log global
  option httplog
  option dontlognull
  option redispatch
  retries 3
  timeout connect 5s
  timeout client 30s
  timeout server 30s

# Menggunakan port 8080 karena Podman rootless tidak bisa bind port < 1024
frontend ecommerce_http
  bind *:8080
  default_backend ecommerce_api

backend ecommerce_api
  balance roundrobin
  option httpchk GET /health
  http-check expect status 200
  
  # Menghapus 'resolvers podman' agar menggunakan resolver bawaan sistem (libc)
  # yang lebih stabil di lingkungan Podman Windows.
  server api1 ecommerce-api-1:3001 check
  server api2 ecommerce-api-2:3001 check
  server api3 ecommerce-api-3:3001 check

frontend stats
  bind *:8404
  http-request use-service prometheus-exporter if { path /metrics }
  stats enable
  stats uri /stats
  stats refresh 10s
